.col606266{
 color:#606266;
}
.col50bfff{
 color:#50bfff;
}
.col348fe2{
 color:#348fe2!important;
}
.backblue{
    background:#348fe2!important;
    &:hover{
        color:white!important;
    }
}
.col409{
 color:#409EFF;
}

.cole02{
 color:#e02133;
}
.col65{
color:#656565;
}
.col747{
 color:#747474;
}
.red{
 color: red;
}
.colred{
 color: red;
}
.coc0c {
    color: #c0c4cc;
}