.grid-content .AnowBtn {
  color: #fff;
  background: #ff6600;
  border: 1px solid #ff6600;
  margin-left: 25%;
}
.grid-content .AnowBtn:hover {
  background: #e47932;
  border-color: #e47932;
}
.grid-content .AagainBtn {
  background: #ef5555;
  border: 1px solid #ef5555;
}

.grid-content .AagainBtn:hover {
  background: #e56565;
  border: 1px solid #e56565;
}